.description {
  padding-top: 15px;
  max-width: 370px;

  @media(max-width:$tablet-max) {
    padding-top: 0;
    max-width: none;
    text-align: center;
    margin-bottom: 30px;
  }
  @media(max-width:$mobile-max) {
    margin-bottom: 49px;
  }
}

.description__title {
  padding-bottom: 21px;
  margin-bottom: 31px;

  @media(min-width:$desktop-min) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 175px;
      height: 3px;
      background-color: $tomato;
    }
  }

  @media(max-width:$tablet-max) {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.description__text {
  letter-spacing: -0.47px;
  margin-bottom: 50px;

  @media(max-width:$tablet-max) {
    margin-bottom: 20px;
  }
}

.description__btn {
  width: 250px;

  @media(max-width:$mobile-max) {
    width: 288px;
  }
}
