.feedback {
  box-sizing: border-box;
  min-height: 455px;
  margin-bottom: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $tablet) {
    background-image: url("../img/background/form-bg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/form-bg@2x.jpg");
    }
  }

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 844px 100%;

  @media (max-width: $tablet-max) {
    justify-content: center;
    background-size: cover;
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max) {
    background-color: $light;
    min-height: auto;
    margin-bottom: 60px;
  }
}

.feedback__content {
  box-sizing: border-box;
  padding: 50px;
  margin-right: -38px;
  background-color: $white;
  text-align: center;
  color: $dark;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  min-height: 315px;
  max-width: 655px;
  width: 100%;

  @media (max-width: $tablet-max) {
    margin-right: 0;
  }

  @media (max-width: $mobile-max) {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    box-shadow: none;
    min-height: auto;
  }
}

.feedback__title {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 12px;

  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
  }
}

.feedback__text {
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $mobile-max) {
    margin-bottom: 19px;
  }
}

.feedback__list {
  display: grid;
  grid-template-columns: repeat(2, 269px);
  gap: 20px;
  margin-bottom: 25px;

  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.feedback__item {
  position: relative;

  &--phone {
    &::before {
      position: absolute;
      content: "*";
      top: 5px;
      left: 14px;
      width: 6px;
      height: 26px;
      color: $tomato;
    }
  }
}

.feedback__input {
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(44, 46, 63, 0.3);
  min-height: 50px;
  min-width: 100%;
  color: $dark;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;

  &--phone {
    padding-left: 25px;
  }

  &::placeholder {
    color: $dark;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    opacity: 1;
  }

  &:focus:invalid {
    border-color: $tomato;
    outline-color: $tomato;
  }

  &:focus:invalid + .feedback__invalid {
    visibility: visible;
  }
}

.feedback__invalid {
  visibility: hidden;
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  color: $tomato;
}

.feedback__btn {
  border: none;
  padding: 18px 31px 17px 36px;
  letter-spacing: 3px;
  max-width: 176px;
  width: 100%;

  @media (max-width: $tablet-max) {
    max-width: 250px;
  }

  @media (max-width: $mobile-max) {
    max-width: 288px;
    padding: 19px 31px 19px 36px;
  }
}
