.footer-contact {
  justify-self: center;

  @media(max-width:$tablet-max) {
    padding-left: 16%;
    margin-bottom: 20px;
  }

  @media(max-width:$mobile-max) {
    text-align: center;
    padding-left: 0;
    margin-bottom: 26px;
  }
}

.footer-contact__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: $dark;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-contact__item {
  &:not(:last-of-type) {
    margin-bottom: 17px;
  }
}

.footer-contact__link {
  font-size: 14px;
  line-height: 17px;
  color: $tomato;
  text-decoration: underline;
  position: relative;
  padding-top: 2px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
  }

  &--email {
    padding-left: 40px;

    &::before {
      width: 26px;
      height: 20px;
      background: url("../img/icon-email.svg") no-repeat center;
    }

    @media(max-width:$tablet-max) {
      text-decoration: none;
    }

    @media(max-width:$mobile-max) {
      margin-left: 10px;
    }
  }

  &--tel {
    font-size: 16px;
    line-height: 32px;
    padding-left: 42px;

    &::before {
      width: 30px;
      height: 30px;
      background: url("../img/phone-gray.svg") no-repeat center;
    }
  }
}
