.page {
  height: 100%;
  font-family: $font-montserrat;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  min-width: $mobile;
  max-width: $desktop-max;
  color: $light-dark;
}

.page__body {
  margin: 0;
}
