.page {
  height: 100%;
  font-family: $font-montserrat;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  min-width: $mobile;
  color: $light-dark;
}

.page__body {
  margin: 0;
}

.page__footer {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 34px;
  box-sizing: border-box;
  padding: 0;
  padding-right: 10px;

  @media(max-width:$tablet-max) {
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 41px;
    padding-left: 21px;
    padding-right: 21px;
    max-width: 100%;
  }

  @media(max-width:$mobile-max) {
    text-align: center;
    grid-template-columns: 1fr;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
