$tomato:#FE7865;
$orange:#F17D4B;
$dark:#141517;
$dark-blue:#2C2E3F;
$white:#FFFFFF;
$light:#FBF8F8;
$light-dark:rgba(44, 46, 63, 0.7);
$gray:#D7D9DF;
$font-montserrat:"Montserrat","Arial", sans-serif;
$mobile:320px;
$mobile-max:767px;
$tablet:768px;
$tablet-max:1023px;
$desktop-min:1024px;
$desktop-max:1280px;
$menu-tab:#48494D;
$footer-color:rgba(20, 21, 23, 0.5);
$footer-svg:#D7D9DF;
